<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
       <aligent_sitemap>
            <general>
                <enabled>1</enabled>
            </general>
           <inventory_source>
               <include_in_sitemap>1</include_in_sitemap>
               <route_key>store-locator</route_key>
               <change_frequency>daily</change_frequency>
               <pirority>1.0</pirority>
           </inventory_source>
       </aligent_sitemap>
    </default>
</config>
