<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
       <aligent_sitemap>
            <general>
                <enabled>1</enabled>
            </general>
       </aligent_sitemap>
    </default>
</config>
