<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <plugin name="getValidCmsPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Cms\Page\GetValidCmsPagesForSitemap"/>
    </type>

    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Category">
        <plugin name="getValidCategoryPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Catalog\GetValidCategoryPagesForSitemap"/>
    </type>

    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Product">
        <plugin name="getValidProductPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Catalog\GetValidProductPagesForSitemap"/>
    </type>

    <preference for="Magento\Sitemap\Model\Sitemap"
                type="Aligent\Sitemap\Model\Sitemap" />

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="pwaUrlProvider" xsi:type="object">Aligent\Sitemap\Model\ItemProvider\PwaUrl</item>
            </argument>
        </arguments>
    </type>

    <type name="Aligent\Sitemap\Model\ItemProvider\PwaUrl">
        <arguments>
            <argument name="configReader" xsi:type="object">Aligent\Sitemap\Model\ItemProvider\PwaUrlConfigReader</argument>
        </arguments>
    </type>

    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="plugin_source_save" type="Aligent\Sitemap\Plugin\Model\SourceSave"/>
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="inventorySourceProvider" xsi:type="object">
                    Aligent\Sitemap\Model\ItemProvider\InventorySource
                </item>
            </argument>
        </arguments>
    </type>
</config>
