<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <plugin name="getValidCmsPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Cms\Page\GetValidCmsPagesForSitemap"/>
    </type>

    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Category">
        <plugin name="getValidCategoryPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Catalog\GetValidCategoryPagesForSitemap"/>
    </type>

    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Product">
        <plugin name="getValidProductPagesForSitemap"
                type="Aligent\Sitemap\Plugin\Model\ResourceModel\Catalog\GetValidProductPagesForSitemap"/>
    </type>

    <preference for="Magento\Sitemap\Model\Sitemap"
                type="Aligent\Sitemap\Model\Sitemap" />
</config>
