<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="aligent_sitemap" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sitemap</label>
            <tab>aligent</tab>
            <resource>Aligent_Sitemap::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                    <comment>Enable/Disable setting for the customization for the default sitemap</comment>
                </field>
                <field id="exclude_cms_page" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude CMS Pages from Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled Specific CMS specific pages can be excluded from Sitemap based on "Show in Sitemap" value</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="exclude_category" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Category Pages from Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled Specific Category Pages can be excluded from Sitemap based on "Show in Sitemap" value</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="exclude_product" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Product Pages from Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled Specific Product pages can be excluded from Sitemap based on "Show in Sitemap" value</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="exclude_product_images" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Product Images from Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled All Product images can be excluded from Sitemap</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="aligent_sitemap/general/exclude_product">1</field>
                    </depends>
                </field>
                <field id="include_pwa_pages" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include PWA Pages to Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled PWA pages can be included to Sitemap</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sitemap_base_url" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sitemap Base Url</label>
                    <comment>Base Url for Sitemap</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="pwa_pages_url_key" translate="label" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PWA Pages Url Key</label>
                    <frontend_model>Aligent\Sitemap\Block\System\Config\Form\Field\UrlKeys</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Define PWA Page Url Keys</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="inventory_source" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Inventory Source</label>
                <field id="include_in_sitemap" translate="label comment" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include In Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this setting is Enabled Inventory Source URLs will be included to Sitemap</comment>
                </field>
                <field id="route_key" translate="label comment" sortOrder="11" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Route Key</label>
                    <comment>Route Key for the inventory source URLs</comment>
                </field>
                <field id="change_frequency" translate="label comment" sortOrder="11" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Change Frequency</label>
                    <source_model>Magento\Sitemap\Model\Config\Source\Frequency</source_model>
                    <comment>Change frequence of the inventory source</comment>
                </field>
                <field id="pirority" translate="label comment" sortOrder="11" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority</label>
                    <comment>Valid values range from 0.0 to 1.0.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
